<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAJLRT7SB2KFEGNWRQ"/>
		<add key="AWSSecretKey" value="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"/>
		<add key="AWSRegion" value="eu-west-1" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
