<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMarketPlaceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8224/MarketPlaceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketPlaceService"
                contract="MarketPlaceService.IMarketPlaceService" name="BasicHttpBinding_IMarketPlaceService" />
        </client>
    </system.serviceModel>
</configuration>